{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h3>Innlogging.</h3>
    <p>Her vil det komme skjema for innlogging, er enda litt usikker på hvilken måte innloggingen skal fungere.</p>
    <p>Skal jeg ha egen innloggins side for partner og deltaker, eller skal jeg bruke samme innlogging for alle sammen?</p>
    <p>Det vil jo være det enkleste for meg selv, og bare tildele roller og velge riktig rolle ut i fra epost.</p>
    <p>Da må jeg sørge for at epostadressen er unik.</p>
{% endblock content %}